<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>

<div class="container">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>

<div class="container" id="landing-header">
    <div class="row">
        <div class="col">
            <h1>Welcome to YelpCamp!</h1>
            <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
                <form action="/campgrounds" method="GET">
                    <div class="form-group form-inline" id="searchForm">
                        <input type="text" name="search" placeholder="Find a Campground!" class="form-control" "form-inline" id="searchBar">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
        </div>
    </div>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

    </body> 
</html>