<% include ./partials/header %>


<h1>Login</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Log In!</button>
</form>

<% include ./partials/footer %>